@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

body {
  margin: 0 auto;
  background-color: white;
  font-family: "Gowun Batang", serif;
}

a {
  text-decoration: none;
  color: black;
}

#mainHeader {
  width: 100%;
  height: 100px;
  background-color: white;
}

.headerFlex {
  width: 100%;
  text-align: center;
}

#title {
  color: black;
}

#headerNav {
  background-color: rgb(70, 70, 70);
  height: 30px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav_a {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(227, 227, 227);
  padding-inline: 20px;
}

.nav_span {
  color: rgb(277, 277, 277);
}

main {
  margin: 0 auto;
  width: 80%;
  height: 1024px;
}

.article_area {
  margin: 80px;
}

article {
  text-align: center;
}

.mainImg {
  width: 300px;
  margin-bottom: 50px;
}

.main_text {
  width: 100%;
  font-size: 15pt;
  line-height: 40px;
}

.first_bold {
  font-size: 20pt;
}
